<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.readbook">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE " />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Activity.Admin.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/bookicon"
        android:label="Read Book Online Offline"
        android:roundIcon="@drawable/bookicon"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.ReadBook">
        <activity
            android:name=".Activity.PDFViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.Admin.PdfEditActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.ListPdfAdmin"
            android:exported="false" />

        <activity
            android:name=".Activity.Admin.UserDashBoard"
            android:exported="false" />


        <activity
            android:name=".Activity.Admin.AdminDashBoard"
            android:exported="false" />
        <activity
            android:name=".Activity.Details_Book"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginAndRegister.Register_Form"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginAndRegister.Login_Form"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginAndRegister.Login"
            android:exported="false" />
        <activity
            android:name=".Activity.Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
    </application>

</manifest>